#add-todo-section {
	position: fixed;
	left: 0px;
	bottom: calc(var(--todo-section-height) * -1);

	height: var(--todo-section-height);
	width: 100%;

	box-shadow: 0px 0px 10px #00000073;
	border-radius: var(--border-radius);

	background-color: var(--back-color);

	transition: 400ms;

	display: grid;
	grid-template-rows: auto 80px;
}

#add-todo-section.active {
	bottom: 0px;
}

#add-todo-section .text-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

#add-todo-section .text-section .text-area-container {
	display: flex;
	justify-content: center;
	align-items: center;

	outline: none;
	border: 1px solid var(--light-grey);
	border-radius: var(--border-radius);

	width: calc(100% - 40px);
	height: calc(100% - 40px);

	transition: 40ms;
}

#add-todo-section .text-section .text-area {
	resize: none;

	font-size: 22px;
	border: none;
	outline: none;

	text-align: justify;
	word-break: break-all;
	background-color: transparent;

	width: calc(100% - 40px);
	height: calc(100% - 40px);
}

#add-todo-section .text-section .text-area-container:focus-within {
	border: 2px solid var(--main-color);
}

#add-todo-section .buttons-section {
	width: 90%;
	justify-self: center;
	display: flex;
	justify-content: space-between;
	align-self: center;
}
