#side-bar-container {
	display: flex;
	justify-content: right;
	align-items: flex-start;

	position: absolute;
	top: 0px;
	left: calc(var(--sidebar-width) * -1);

	z-index: 1;

	width: var(--sidebar-width);
	height: 100%;

	background-color: var(--back-color);

	transition: 600ms;
}

#side-bar-container.active {
	left: 0px;
	box-shadow: 0px 10px 10px #00000093;
}
