.todo-container:nth-child(1) {
	margin-top: 30px;
}

.todo-container {
	--todo-height: 50px;
	--buttons-size: 30px;

	display: grid;
	grid-template-columns: auto var(--todo-height) var(--todo-height);

	width: 90%;
	height: var(--todo-height);

	gap: 10px;

	animation: enter 0.5s;
}

.todo-container .text {
	position: relative;

	display: flex;
	justify-content: left;
	align-items: center;

	width: fit-content;
	max-width: 100%;

	overflow: hidden;

	font-size: 20px;

	transition-duration: 200ms;
}

.todo-container.done .text {
	color: var(--light-grey);
}

.todo-container .text .decorator {
	position: absolute;
	height: 2px;
	width: 0px;

	margin-top: 2px;
	background-color: var(--grey);

	transition-duration: 400ms;

	left: -3px;
}

.todo-container.done .text .decorator {
	width: calc(100% + 6px);
}

@keyframes enter {
	from {
		opacity: 0;
		transform: translateY(calc(var(--todo-height) * -1));
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
